body {
    margin: 0;
}

#diagram-infos {
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
    font-weight: 600;
    color: #ffffff;
    min-width: 120px;
    text-align: center;
}

#diagram-menu {
    position: fixed;
    top: 50px;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#logo--main{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: block;
    pointer-events: none;
    opacity: 0.3;
    width: 120px;
}
