body {
  background-color: pink;
  margin: 0;
  padding: 0;
}

.canvas-engine {
  height: 100vh;
  overflow: hidden;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none; /* iOS Safari */
  cursor: move;
}

.node-layer,
.link-layer {
  height: 100%;
  width: 100%;
  position: absolute;
  user-select: none;
}

.node-layer {
  background-color: rgba(255, 255, 255, 0.2);
}

.link-layer {
  overflow: visible;
  background-color: transparent;
  z-index: -1;
  pointer-events: none;
}

.node {
  background-color: deepskyblue;
  width: 200px;
  height: 150px;
  border-radius: 20px;
  position: absolute;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none; /* iOS Safari */
  cursor: move;
}

.port {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
}

.port.port-inputPort {
  top: 0;
  left: 50%;
  //margin-left: -15px;
  transform: translateX(-50%) translateY(-50%);
}


.port.port-outputPort {
  top: 100%;
  left: 50%;
  //margin-left: -15px;
  transform: translateX(-50%) translateY(-50%);
}
