:root{
  --port-size: 60px;
}

$port-size: 60px;

body {
  background-color: pink;
  margin: 0;
  padding: 0;
}

.canvas-engine {
  height: 100vh;
  overflow: hidden;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none; /* iOS Safari */
  cursor: move;
}

.node-layer,
.link-layer {
  height: 100%;
  width: 100%;
  position: absolute;
  user-select: none;
}

.node-layer {
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 1;
  pointer-events: none;
}

.link-layer {
  overflow: visible;
  background-color: transparent;
  pointer-events: none;
  z-index: 0;
}

.svg-filters {
  display: none;
}

.link {
  cursor: pointer;
  fill: transparent;
  pointer-events: all;
}

.link.selected {
  stroke: red;
}

.link.on-connection {
  pointer-events: none;
}

.node {
  background-color: deepskyblue;
  width: 300px;
  height: 250px;
  border-radius: 20px;
  z-index: 2;
  position: absolute;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none; /* iOS Safari */
  cursor: move;
  pointer-events: all;
}

.node.is-dragging{
  z-index: 3;
}

.port {
  background-color: #fff;
  z-index: -1;
  cursor: pointer;
  position: relative;
  pointer-events: all;
}

.port-container{
  position: absolute;
  top: $port-size / -2;
  left: $port-size / -2;
  right: $port-size / -2;
  bottom: $port-size / -2;
  display: flex;
  pointer-events: none;
  z-index: 10;
  justify-content: space-around;
}

.port-container--actionInputPort,
.port-container--actionOutputPort {
  flex-direction: column;
  padding-top: $port-size / 2;
  padding-bottom: $port-size / 2;
}

.port-container--inputPort,
.port-container--outputPort {
  padding-left: $port-size / 2;
  padding-right: $port-size / 2;
}

.port-container--outputPort,
.port-container--actionOutputPort{
  align-items: flex-end;
}

.port-container--inputPort .port,
.port-container--outputPort .port {
  width: $port-size;
  height: $port-size / 2;
}

.port-container--actionInputPort .port,
.port-container--actionOutputPort .port {
  width: $port-size / 2;
  height: $port-size;
}

.port-container--inputPort .port{
  border-top-left-radius: $port-size;
  border-top-right-radius: $port-size;
  top: $port-size / -4;
  transform: translateY($port-size / 4);
}

.port-container--outputPort .port{
  border-bottom-left-radius: $port-size;
  border-bottom-right-radius: $port-size;
  top: $port-size / -4;
  transform: translateY($port-size / 4);
}

.port-container--actionInputPort .port{
  border-top-left-radius: $port-size;
  border-bottom-left-radius: $port-size;
  left: $port-size / -4;
  transform: translateX($port-size / 4);
}

.port-container--actionOutputPort .port{
  border-top-right-radius: $port-size;
  border-bottom-right-radius: $port-size;
  right: $port-size / 4;
  transform: translateX($port-size / 4);
}

/*.port__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 15px;
  pointer-events: none;
}

.port__inner:before {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-color: #666;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  border: 2px #666 solid;
}*/

// GUI
//-----------------------------
#diagram-infos {
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px;
  color: #ffffff;
}

#diagram-menu {
  position: fixed;
  top: 50px;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px;
  color: #ffffff;
}
