// NODE
//-----------------------------
.node {
  background-color: var(--node-color);
  min-width: 280px;
  min-height: 100px;
  border-radius: var(--node-border-radius);
  z-index: 2;
  position: absolute;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none; /* iOS Safari */
  cursor: move;
  pointer-events: all;
  box-shadow: rgba(#0e0b17, 0.2) 0 0 10px 5px;
  border: 1px var(--color-blue) solid;
}

.node.is-dragging {
  z-index: 3;
}

.node > .node__body {
  padding: 15px;
  position: relative;
}

.node__body > *:not(:last-child) {
  margin-bottom: 10px;
}

.node__title {
  text-align: center;
  padding: 15px 20px;
  top: -1px;
  font-size: 16px;
  background-color: var(--color-blue);
  font-weight: 600;
  color: #ffffff;
  border-top-left-radius: var(--node-border-radius);
  border-top-right-radius: var(--node-border-radius);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.node__title:after {
  //content: "";
  height: 1px;
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  background-color: rgba(#fff, 0.05);
}

%node--without-body {
  min-height: auto;
}

%node--without-body .node__title {
  border-radius: var(--node-border-radius);
  margin-bottom: -1px;
}

%node--without-body .node__body {
  display: none;
}

// ACTIVATE NODE
//-----------------------------
.node--activate {
  @extend %node--without-body;
  border-color: var(--color-red);
}

.node--activate .node__title {
  background-color: var(--color-red);
  border-radius: var(--node-border-radius);
  min-height: 90px;
}

// RENAME NODE
//-----------------------------
.node--rename {
  border-color: var(--color-purple);
}

.node--rename .node__title {
  background-color: var(--color-purple);
}

// ENTRY NODE
//-----------------------------
.node--entry {
  border-color: var(--color-green-light);
}

.node--entry .node__title {
  background-color: var(--color-green-light);
}

// START GAME NODE
//-----------------------------
.node--start-game,
.node--end-game{
  @extend %node--without-body;
  border-color: var(--color-pink);
  min-width: 100px;
}

.node--start-game .node__title,
.node--end-game .node__title{
  border-radius: var(--node-border-radius);
  background-color: var(--color-pink);
  height: 90px;
  display: flex;
  align-items: center;
}

// END DIALOG NODE
//-----------------------------
.node--end-dialog {
  @extend %node--without-body;
  border-color: var(--color-orange);
}

.node--end-dialog .node__title {
  background-color: var(--color-orange);
}
