// CONTROLS
//-----------------------------
.node-control--input,
.node-control--textarea{
  display: block;
  width: 100%;
  border-radius: 8px;
  padding: 10px;
  border: none;
  background-color: #fff;
  resize: none;
  font-style: italic;
  font-size: 18px;
}

.node-control--textarea{
  min-height: 80px;
}

.node-control--input:disabled,
.node-control--textarea:disabled{
  background-color: rgba(#fff, 0.03);
  opacity: 1;
  color: #ffffff;
  cursor: pointer;
}

// TOGGLE VISIBILITY
//-----------------------------
.node-control--toggle__wrapper{
  position: absolute;
  top: 15px;
  right: 10px;
}

.node-control--toggle{
  display: block;
  width: 32px;
  height: 18px;
  position: relative;
  cursor: pointer;
  border-radius: 15px;
  overflow: hidden;
}

.node-control--toggle:before{
  content: "";
  display: block;
  position: absolute;
  top: 1px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #ffffff;
  left: 0;
  transition: transform 200ms $ease-in-quart;
  box-shadow: rgba(#000, 0.2)  0 0 5px;
  z-index: 2;
}

.node-control--toggle:after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 15px;
  background-color: rgba(#000, 0.2);
  transition: background-color 200ms;
}

.node-control--toggle__wrapper input{
  display: none;
}

.node-control--toggle__wrapper input:checked + .node-control--toggle:before{
  transform: translateX(100%);
}

.node-control--toggle__wrapper input:checked + .node-control--toggle:after{
  background-color: rgba(#fff, 0.6);
}

// SELECT
//-----------------------------
.node-control--select__wrapper{
  display: flex;
  cursor: pointer;
  position: relative;
  z-index: 10;
  font-size: 16px;
}

.node-control--select{
  width: 100%;
  padding: 0.5rem 0.75rem;
  flex: 1 0;
  color: #ffffff;
  position: relative;
  font-weight: 600;
  font-style: italic;
}

.node-control--select span{
  font-weight: 300;
  display: inline-block;
  margin-right: 8px;
  font-size: 80%;
  opacity: 0.6;
}

.node-control--select:before{
  content: "";
  position: absolute;
  background-color: var(--color-blue-shadow);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.node-control--select:after{
  content: "";
  position: absolute;
  right: 0.75rem;
  top: 50%;
  margin-top: -2px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 6px 0 6px;
  border-color: #fff transparent transparent transparent;
  opacity: 0.6;
  transition: transform 400ms $ease-in-quart;
}

.node-control--select.active + .node-control--options{
  opacity: 1;
  pointer-events: all;
}

.node-control--options{
  opacity: 0;
  pointer-events: none;
  transition: opacity 200ms;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  font-style: italic;
  color: #ffffff;
  border-top: 1px #989898 solid;
  background-color: var(--node-color);
  box-shadow: var(--background-color-shadow) 0 10px 10px;
  border-radius: 0 0 var(--node-border-radius) var(--node-border-radius);
}

.node-control--options > div{
  padding: 0.75rem 1.5rem;
}

.node-control--options > div:hover{
  background-color: rgba(255, 255, 255, 0.2);
}

.node-control--options > div:not(:last-child){
  border-bottom: #989898 1px solid;
}

// SPINNER
//-----------------------------
.node-control--spinner{
  display: flex;
  width: 100%;
  gap: 1px;
}

.node-control--spinner button{
  width: 40px;
  border-radius: 0;
  border: none;
  background-color: var(--color-blue-shadow);
  font-weight: 600;
  color: #ffffff;
}

.node-control--spinner input{
  width: 100%;
  text-align: right;
  font-size: 16px;
  border-radius: 0;
  border: none;
  padding-right: 10px;
}
