// NORMALIZE
//-----------------------------
*,
*:before,
*:after{
  box-sizing: border-box;
}

input,
textarea,
button{
  font-family: inherit;
  font-size: inherit;
}

button,
select,
option{
  cursor: pointer;
}

input:focus,
textarea:focus,
button:focus,
select:focus{
  outline: none;
}
