$port-size: 40px;
$port-action-size: 12px;

// PORT
//-----------------------------
.port {
  background-color: #fff;
  z-index: -1;
  cursor: pointer;
  position: relative;
  pointer-events: all;
  opacity: 1;
}

.port:after{
  content: "";
  position: absolute;
  top: -10px;
  bottom: -10px;
  left: -10px;
  right: -10px;
  background-color: rgba(#fff, 0.5);
  opacity: 0;
}

.port-container{
  position: absolute;
  top: $port-size / -2 - 1px;
  left: $port-size / -2 - 1px;
  right: $port-size / -2 - 1px;
  bottom: $port-size / -2 - 1px;
  display: flex;
  gap: 20px;
  pointer-events: none;
  z-index: 10;
  justify-content: space-around;
}

.port-container--actionInputPort,
.port-container--actionOutputPort,
.port-container--outputPortRight{
  flex-direction: column;
  padding-top: $port-size / 2;
  padding-bottom: $port-size / 2;
}

.port-container--inputPort,
.port-container--outputPort{
  padding-left: $port-size / 2;
  padding-right: $port-size / 2;
}

.port-container--outputPort,
.port-container--outputPortRight,
.port-container--actionOutputPort{
  align-items: flex-end;
}

.port-container--inputPort .port,
.port-container--outputPort .port {
  width: $port-size;
  height: $port-size / 2;
}

.port-container--actionInputPort .port,
.port-container--actionOutputPort .port,
.port-container--outputPortRight .port{
  width: $port-size / 2;
  height: $port-size;
}

.port-container--inputPort .port{
  border-top-left-radius: $port-size;
  border-top-right-radius: $port-size;
}

.port-container--outputPort .port{
  border-bottom-left-radius: $port-size;
  border-bottom-right-radius: $port-size;
}

.port-container--actionInputPort .port{
  border-top-left-radius: $port-size;
  border-bottom-left-radius: $port-size;
}

.port-container--actionOutputPort .port,
.port-container--outputPortRight .port{
  border-top-right-radius: $port-size;
  border-bottom-right-radius: $port-size;
}

.port-container--actionInputPort,
.port-container--actionOutputPort{
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  justify-content: flex-start;
  gap: 6px;
}

.port-container--actionInputPort .port,
.port-container--actionOutputPort .port{
  border-radius: 50%;
  width: $port-action-size;
  height: $port-action-size;
  background-color: #fff;
}

.port-container--actionInputPort .port:after,
.port-container--actionOutputPort .port:after{
  bottom: -3px;
  top: -3px;
}

.port-container--actionInputPort .port.port.connected .port__inner,
.port-container--actionOutputPort .port.connected .port__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  pointer-events: none;
}

.port-container--actionInputPort .port.connected .port__inner:before,
.port-container--actionOutputPort .port.connected .port__inner:before {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-color: #666;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.port__name{
  position: absolute;
  font-size: 12px;
  color: #ffffff;
  line-height: 1;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.6;
  width: 15px;
  text-align: center;
}

.port-container--actionInputPort .port__name{
  left: 100%;
  margin-left: 5px;
}

.port-container--actionOutputPort .port__name{
  right: 100%;
  margin-right: 5px;
}
