$port-size: 40px;
$port-action-size: 15px;

:root{
  --font-family: 'Source Sans Pro', sans-serif;
  //--font-family: 'Questrial', sans-serif;
  --background-color: #29323f;
  --background-color-shadow: #201a2d;
  --node-color: #323440;
  --node-border-radius: 15px;
  --color-red: #e44758;
  --color-blue: #3a9eda;
  --color-green: #22c17b;
}

@import "normalize";
@import "ports";
@import "links";
@import "controls";

@import "nodes/nodes";
@import "nodes/group-nodes";

body {
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-size: 16px;
}

.canvas-engine {
  height: 100vh;
  overflow: hidden;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none; /* iOS Safari */
  cursor: move;

  background-size: 50px 50px;
  background-position: 0 0;

  background-image:linear-gradient(
                  0deg
          , transparent 24%, rgba(255, 255, 255, 0.05) 25%, rgba(255, 255, 255, 0.05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, 0.05) 75%, rgba(255, 255, 255, 0.05) 76%, transparent 77%, transparent), linear-gradient(
                  90deg
          , transparent 24%, rgba(255, 255, 255, 0.05) 25%, rgba(255, 255, 255, 0.05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, 0.05) 75%, rgba(255, 255, 255, 0.05) 76%, transparent 77%, transparent);;
}

.node-layer,
.link-layer {
  height: 100%;
  width: 100%;
  position: absolute;
  user-select: none;
}

.node-layer {
  z-index: 1;
  pointer-events: none;
}

.link-layer {
  overflow: visible;
  background-color: transparent;
  pointer-events: none;
  z-index: 0;
}

// GUI
//-----------------------------
#diagram-infos {
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px;
  color: #ffffff;
}

#diagram-menu {
  position: fixed;
  top: 50px;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
