:root {
  --font-family: 'Source Sans Pro', sans-serif;
  //--font-family: 'Questrial', sans-serif;
  --background-color: #29323f;
  --background-color-dark: #222129;
  --background-color-shadow: #201a2d;
  --node-color: #323440;
  --node-border-radius: 15px;
  --color-gray: #3e3e48;
  --color-red: #e44758;
  --color-blue: #3a9eda;
  --color-blue-shadow: #2b82b1;
  --color-green: #22c17b;
  --color-green-light: #8fdb4c;
  --color-purple: #ad35d9;
  --color-pink: #d9358a;
  --color-orange: #ffba34;
  --color-yellow: #ffcd37;
  --color-blue-light: #64b8cd;
}

$ease-bounce: cubic-bezier(0.19, 1, 0.22, 1);
$ease-elastic: cubic-bezier(0.3, -1, 0.7, 2);
$ease-in-quart: cubic-bezier(0.165, 0.840, 0.440, 1.000);
$ease-out-quart: cubic-bezier( 0.895,  0.030,  0.685,  0.220 );

@import "normalize";
@import "ports";
@import "links";
@import "controls";
@import "context-menu";

@import "nodes/nodes";
@import "nodes/group-nodes";

body {
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-size: 16px;
}

.canvas-engine {
  height: 100vh;
  overflow: hidden;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none; /* iOS Safari */
  cursor: move;

  background-size: 50px 50px;
  background-position: 0 0;

  background-image: linear-gradient(
                  0deg,
                  transparent 24%,
                  rgba(255, 255, 255, 0.05) 25%,
                  rgba(255, 255, 255, 0.05) 26%,
                  transparent 27%,
                  transparent 74%,
                  rgba(255, 255, 255, 0.05) 75%,
                  rgba(255, 255, 255, 0.05) 76%,
                  transparent 77%,
                  transparent
  ), linear-gradient(
                  90deg,
                  transparent 24%,
                  rgba(255, 255, 255, 0.05) 25%,
                  rgba(255, 255, 255, 0.05) 26%,
                  transparent 27%,
                  transparent 74%,
                  rgba(255, 255, 255, 0.05) 75%,
                  rgba(255, 255, 255, 0.05) 76%,
                  transparent 77%,
                  transparent
  );
}

.node-layer,
.link-layer {
  height: 100%;
  width: 100%;
  position: absolute;
  user-select: none;
}

.node-layer {
  z-index: 1;
  pointer-events: none;
}

.link-layer {
  overflow: visible;
  background-color: transparent;
  pointer-events: none;
  z-index: 0;
}
